* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(images/banner1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 30px;
  text-align: center;
  color: #fff;
}
.header img {
  width: 170px;
  float: left;
}
.login-btn {
  width: 100px;
  padding: 8px 0;
  outline: none !important;
  border: 2px solid #fff;
  border-radius: 50px;
  background: transparent;
  color: #fff;
  float: right;
}
.header h1 {
  padding-top: 200px;
  font-size: 55px;
}
.header p {
  margin-top: 13px;
}
.input-group {
  width: 90%;
  max-width: 500px;
  border-radius: 30px;
  margin: auto;
  padding: 2px;
  background: #fff;
}
.form-control {
  border: 0 !important;
  border-radius: 30px !important;
  box-shadow: none !important;
  margin: 2px;
}
.input-group-text {
  background: linear-gradient(#00ff7e, #1f3d90);
  width: 100%;
  border: 0 !important;
  padding: 0 25px !important;
  border-radius: 30px !important;
  box-shadow: none !important;
}
/* Features */
.features {
  padding: 100px 0;
}
h1 {
  padding-bottom: 30px;
  text-align: center;
}
.feature-img img {
  width: 100%;
}
.price {
  width: 50px;
  height: 50px;
  background: #ff5722;
  border-radius: 50px;
  padding: 10px;
  color: #fff;
  font-weight: 600;
  box-shadow: rgba(37, 73, 214, 0.18);
  left: 20px;
  bottom: -25px;
  position: absolute;
}
.feature-img {
  position: relative;
}
.rating {
  padding: 3px;
  background: #fff;
  float: right;
  bottom: -1px;
  position: absolute;
  right: 0;
}
.features .fa {
  color: #ff5722;
  font-size: 15px;
}
.feature-details {
  padding: 20px;
  text-align: justify;
}
.feature-details h4 {
  font-weight: 600;
  margin-top: 20px;
}
.feature-details .fa {
  margin-right: 5px;
}
.feature-box {
  box-shadow: 0 0 10px 1px rgba(37, 73, 214, 0.18);
  margin-bottom: 30px;
}
/* Gallery  */
.gallery {
  padding: 100px 0;
  background: #efefef;
}
.gallery-box img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.gallery-box img:hover {
  transform: scale(1.1);
}
.gallery-box h4 {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 22px;
  transform: translate(-50%, -50%);
  text-shadow: -2px 2px 2px #000;
}
.gallery-box {
  position: relative;
  margin-bottom: 30px;
}
/* Banner */
.banner {
  height: 80vh;
  background: url(images/banner2.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 10%;
}
.banner-helights {
  color: #fff;
  padding: 70px 0;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
}
.booking-btn {
  width: 120px;
  padding: 8px 0;
  outline: none !important;
  border: 2px solid #fff;
  border-radius: 50px;
  background: transparent;
  color: #fff;
}
/* User-Feedback */
.user-feedback {
  padding: 100px 0;
}
.user-review {
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 100, 0.2);
  padding-bottom: 50px;
}
.user-review p {
  padding: 50px 10px 10px 10px;
}
.user-feedback img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  margin: -30px 0 20px 40%;
}
.user-review p::before {
  content: "\201d";
  display: block;
  position: absolute;
  font-size: 100px;
  color: #6495ed;
  font-family: sans-serif;
  left: 44%;
  top: -20px;
}
/* Footer  */
.footer {
  padding: 100px 20px 15px;
  background: linear-gradient(#2d557d, #9610fb);
  color: #fff;
}
.footer-logo {
  width: 150px;
  margin: 15px 0;
}
.footer h4 {
  text-align: left;
  margin-top: 15px;
  margin-bottom: 25px;
}
.footer p {
  font-size: 12px;
  text-align: justify;
  padding-right: 35px;
}
.footer .row .fa {
  padding-right: 20px;
  font-size: 15px;
}
.footer hr {
  margin-top: 10px;
  background: #efefef;
}
.fa-heart {
  margin: 0 5px;
  color: #f44336;
}
.footer .copyright {
  text-align: center;
}
/* Media Query */
@media only screen and (max-width: 768px) {
  .header {
    height: 70vh;
  }
  .header h1 {
    font-size: 30px;
  }
  .banner {
    height: 40vh;
  }
  .banner-helights {
    padding: 30px 0;
  }
}
